.link_button {
  width: 33vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all ease-out 0.3s;
  cursor: pointer;
  box-sizing: border-box;
  background: linear-gradient(transparent, transparent);    
  font-size: 12pt;
  font-weight: bold;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.link_button:hover {
  transform: scale(1.1);
}

.link_button--selected {
  color: black;
}