.App {
  display: grid;
  grid-template-rows: 1fr 1fr auto;
  height: 100vh;
}

.App__header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.App__header-title {
  text-align: center;
  letter-spacing: 0.4rem;
  margin-top: 12px;
  font-size: 12pt;
}

.App__header-logo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App__header-logo {
  height: 64px;
  width: 64px;
}

.App__footer {
    height: 18vh;
    background: white;
    display: flex;
    align-items: center;
}

.App__navlink {
  flex: 1;
  text-align: center;
}

.App__navlink--active {
  font-family: 'Nero Bold'
}