.App {
  display: grid;
  grid-template-rows: 1fr 60vh;
  grid-auto-rows: 1fr;
  height: 100vh;
}

.App__header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 16px;
}

.App__header-title {
  text-align: center;
  letter-spacing: 0.4rem;
  margin-top: 12px;
  font-size: 12pt;
}

.App__header-logo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App__header-logo {
  height: 64px;
  width: 64px;
}

.App__footer {
  background: white;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.App__navlink {
  flex: 1;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.4rem;
  font-size: 10pt;
  height: 100%;
}

.App__navlink--active {
  font-family: 'Nero Bold'
}

@media (max-width: 400px) {
  .App__footer {
    flex-direction: column;
  }

  .App__header {
    padding: 8px;
  }

  /* .App__header-logo-container {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }

  .App__header-title {
    margin-left: 12px;
    margin-top: 0;
  } */

  .App__header-logo {
    height: 48px;
    width: 48px;
  }
}

@media (max-height: 400px) {
  .App__header {
    padding: 8px;
  }

  .App__header-logo-container {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }

  .App__header-title {
    margin-left: 12px;
    margin-top: 0;
  }

  .App__header-logo {
    height: 48px;
    width: 48px;
  }
}