div {
  box-sizing: border-box;
}

.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: white;
  transition: all ease-out 0.5s;
  cursor: pointer;
}

.logo__svg {
  stroke: black;
  stroke-width: 50;
  fill: #F7F7F3;
  fill-opacity: 0.25;
  transition: all 0.3s;
} 

.logo__svg:hover {
  fill-opacity: 1.0;
} 

.logo:hover {
  color: black;
}

.logo__outer {
  border-left: 4px solid;
  border-bottom: 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.logo__cell {
  height: 5vh;
  width: 5vh;
  border-top: 4px solid;
  border-left: 4px solid;
  border-bottom: 4px solid;
  /* border-bottom: 12px solid white;
  border-left: 12px solid white;
  border-top: 12px solid white; */
}

