.Art {
  height: 100%;
  padding: 16px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Art__section {
  background: white;
  margin-bottom: 16px;
}

.Art__section-title {
  width: 100%;
  text-align: center;
  background: white;
  padding: 16px;
  text-transform: uppercase;
  font-family: 'Nero Bold';
  letter-spacing: 0.4rem;
}

.art__photo {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.art__card {
  width: 90vw;
  max-width: 500px;
  align-items: start;
}

.art__card-link {
  height: 100%;
  width: 100%;
}

.art__title {
  min-height: 50px;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  text-transform: uppercase;
  width: 100%;
  background: white;
  padding: 4px;
}

.art__description {
  min-height: 75px;
  width: 100%;
  overflow-wrap: break-word;
}

.react-pdf__Page__canvas {
  width: 90vw !important;
  max-width: 500px !important;
  height: unset !important;
  margin: 8px;
  padding: 8px;
}