.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 15vh; 
  width: 100vw;
  display: flex; 
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-image: url(https://www.dropbox.com/s/4nqrcobal29rqoe/lc-print4.JPG?raw=1);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: opacity(0.5);
}