.header {
  height: 33vh; 
  display: flex; 
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-image: url(https://www.dropbox.com/s/4nqrcobal29rqoe/lc-print4.JPG?raw=1);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}