.Yoga {
  height: 100%;
  background-image: url(https://drive.google.com/uc?id=1bWKvaoM1psuIj3Zg4uH9nv3KD2puCS6O);
  background-size: cover;
  background-position: bottom;
  padding: 16px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
}

.Yoga__overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(100%, 100%, 100%, 0.4);  
}

.Yoga__card {
  /* box */
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  max-width: 500px;
  padding: 24px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* color */
  color: var(--sea);
  background: rgba(100%, 100%, 100%, 0.796);
  /* text */
  line-height: 1.5rem;
  text-indent: 2.5em each-line;
  text-align: center;
  letter-spacing: 0.2rem;
}

@media (max-width: 400px) {
  .Yoga {
    padding: 0px;
  }
  
  .Yoga__card {
    justify-content: flex-start;
    padding: 16px;
  }
}

@media (max-height: 650px) {
  .Yoga__card {
    justify-content: flex-start;
  }
}